@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Praise&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: #3F3F3F;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title h1 {
  font-size: 48px;
  color: #3F3F3F;
  text-align: center;
}
.title h1 span {
  color: #F72D57;
}

header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav .brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav .brand .nav-logo {
  font-size: 48px;
  font-family: "Praise", cursive;
  color: #F72D57;
}
header .nav .brand .toggle-btn {
  padding: 5px;
  font-size: 25px;
  display: none;
}
header .nav .nav-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
header .nav .nav-content .navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .nav .nav-content .navbar .nav-link {
  position: relative;
  transition: all 0.15s;
}
header .nav .nav-content .navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #F72D57;
}
header .nav .nav-content .navbar .nav-link:hover {
  color: #F72D57;
}
header .nav .nav-content .navbar .nav-link:hover::after {
  height: 3px;
}
header .nav .nav-content .navbar .nav-link.active {
  color: #F72D57;
}
header .nav .nav-content .navbar .nav-link.active::after {
  height: 3px;
}
header .nav .nav-content .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .nav .nav-content .buttons .cart-btn {
  font-size: 25px;
  color: #3F3F3F;
}
header .nav .nav-content .buttons .signup-btn {
  padding: 9.5px 28px;
  background: #F72D57;
  color: white;
  border-radius: 5px;
}
header .sm-nav {
  position: absolute;
  left: -30px;
  top: 0;
  width: 100%;
  z-index: 1111;
  min-height: 100vh;
  background: #F72D57;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s;
}
header .sm-nav.active {
  display: inline-block;
  opacity: 1;
  visibility: visible;
  left: 0;
}
header .sm-nav .inner {
  position: relative;
}
header .sm-nav .inner .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  padding: 5px;
  color: white;
}
header .sm-nav .inner .logo {
  font-size: 40px;
  font-family: "Praise", cursive;
  color: white;
  text-align: center;
  display: block;
  padding: 50px 0;
  border-bottom: 2px solid white;
}
header .sm-nav .inner .sm-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
header .sm-nav .inner .sm-navbar a {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}
header .sm-nav .inner .sm-navbar a.active {
  font-weight: 600;
}
header .sm-nav .inner .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
header .sm-nav .inner .buttons .signup-btn {
  padding: 9.5px 28px;
  background: white;
  color: #F72D57;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 auto;
}

.slider .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.slider .container .left h1 {
  font-size: 48px;
  color: #3F3F3F;
}
.slider .container .left h1 span {
  color: #F72D57;
}
.slider .container .left p {
  margin-top: 24px;
}
.slider .container .right {
  position: relative;
  min-height: 200px;
}
.slider .container .right .img-box {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: -1;
}
.slider .container .right .img-box img {
  width: 100%;
}

.food .container .categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.food .container .categories .category {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: 2px solid #F72D57;
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #F72D57;
}
.food .container .categories .category h4 {
  font-weight: normal;
}
.food .container .categories .category:hover {
  background: #F72D57;
  color: white;
}
.food .container .categories .category.active {
  background: #F72D57;
  color: white;
}
.food .container .food-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.food .container .food-cards .food-card {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.food .container .food-cards .food-card .price {
  font-weight: 600;
}
.food .container .food-cards .food-card div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.food .container .food-cards .food-card div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.food .container .food-cards .food-card button {
  padding: 9.5px 20px;
  background: #F72D57;
  color: white;
  border-radius: 5px;
  margin-top: 15px;
}

.know-us .container .title h1 {
  text-align: left;
}
.know-us .container .team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
.know-us .container .team .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.know-us .container .team .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.know-us .container .team .right h2 {
  font-size: 36px;
}
.know-us .container .team .right h2 span {
  color: #F72D57;
}
.know-us .container .team .right p {
  color: #3F3F3F;
}

footer {
  background-color: #F72D57;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
footer .container .logo a {
  font-size: 48px;
  font-family: "Praise", cursive;
  color: white;
}
footer .container .logo .socials {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .container .logo .socials i {
  font-size: 20px;
  color: white;
}
footer .container .link-container {
  grid-column: span 4/span 4;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
footer .container .link-container .links a {
  display: block;
  color: white;
  margin-bottom: 10px;
}

@media (max-width: 982px) {
  .food .container .categories {
    grid-template-columns: repeat(3, 1fr);
  }
  .food .container .food-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  footer .container {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .container .link-container {
    grid-column: span 3/span 3;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  header {
    border-bottom: 2px solid #EBEBEB;
  }
  header .nav {
    padding: 15px 40px;
  }
  header .nav .brand .toggle-btn {
    display: inline-block;
  }
  header .nav .nav-content {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  header .nav .nav-content .navbar {
    display: none;
  }
  header .nav .nav-content .buttons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .nav .nav-content .buttons .cart-btn {
    font-size: 25px;
    color: #3F3F3F;
  }
  header .nav .nav-content .buttons .signup-btn {
    display: none;
  }
  header .sm-nav {
    display: inline-block;
  }
  .slider .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .food .container .categories {
    grid-template-columns: repeat(2, 1fr);
  }
  .food .container .food-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .food .container .link-container {
    grid-column: span 2/span 2;
    grid-template-columns: repeat(2, 1fr);
  }
  .know-us .container .title h1 {
    text-align: left;
  }
  .know-us .container .team {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    background-color: #F72D57;
  }
  footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 560px) {
  .food .container .categories {
    grid-template-columns: repeat(1, 1fr);
  }
  .food .container .food-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer .container .link-container {
    grid-column: span 2/span 2;
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */